body {
    color: var(--bs-body-color);
    background-color: black;
}

h1, h2 {
    color: var(--bs-primary);
}

#lyrics {
    border-radius: var(--bs-border-radius);
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-gray-300);
}

#results {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-gray-300);
    border-radius: var(--bs-border-radius);
    padding: 1rem;
    color: black;
}

input[type="submit"] {
    background-color: orange;
    border-color: orange;
    color: var(--bs-dark);
    font-weight: 600;
    border-radius: 20px;
}